<div class="tuwen">
    <h3>图文推荐</h3>
    <ul>
        <li>
            <a href="/"><img src="~/Images/01.jpg"><b>住在手机里的朋友</b></a>
            <p>
                <span class="tulanum"><a href="/">手机配件</a></span>
                <span class="tutime">2016-02-16</span>
            </p>
        </li>
        <li>
            <a href="/"><img src="~/Images/02.jpg"><b>教你怎样用欠费手机拨打电话</b></a>
            <p>
                <span class="tulanum"><a href="/">手机配件</a></span>
                <span class="tutime">2016-02-16</span>
            </p>
        </li>
        <li>
            <a href="/"><img src="~/Images/03.jpg"><b>手机的16个惊人小秘密，据说99.999%的人都不知</b></a>
            <p>
                <span class="tulanum"><a href="/">手机配件</a></span>
                <span class="tutime">2016-02-16</span>
            </p>
        </li>
        <li>
            <a href="/"><img src="~/Images/06.jpg"><b>原来以为，一个人的勇敢是，删掉他的手机号码...</b></a>
            <p>
                <span class="tulanum"><a href="/">手机配件</a></span>
                <span class="tutime">2016-02-16</span>
            </p>
        </li>
        <li>
            <a href="/"><img src="~/Images/04.jpg"><b>豪雅手机正式发布! 在法国全手工打造的奢侈品</b></a>
            <p>
                <span class="tulanum"><a href="/">手机配件</a></span>
                <span class="tutime">2016-02-16</span>
            </p>
        </li>
    </ul>
</div>
